
body {
    background-color: black;
    color: rgb(0,128,255);
    font-family: "Impact", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: bold;
	font-size: 90%;
}

